<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">My Website</a>
    </div>
    <div class="d-flex align-items-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color:white;color:black;">
      <button class="btn btn-info m-lg-2" type="submit" style="color:black;">Search</button>
    </div>
  </nav>
  <div class="under-header">
    <div class="row" style="text-align:left;">
      <div class="col-md-12">
        <a href="#home" class="btn btn-outline-light">Home</a>
        <a href="#item-list" class="btn btn-outline-light">Items List</a>
      </div>
    </div>
  </div>
</header>
