.header {
  width: 100%;
  background-color: #232f3e;
}

.under-header {
  width: 100%;
  background-color: #030000;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

.form-control {
  background-color: #232f3e;
  color: #fff;
  border: none;
}

.form-control::placeholder {
  color: #fff;
}

.btn-outline-success {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
